html{

    background-attachment: fixed;
}

body{
    margin: 0px;
}
.grid-container{
    grid-template-columns: repeat(2,1fr);
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px,auto);
    margin-top: 48px;
    background-color: antiquewhite;
}

.lleft{
    margin: 10px;
    border-left: 0px;
    padding-left: 0px;
    display: inline-block;
    margin-top: 10px;
}

.head{
    position: fixed;
    text-align: left;
    padding: 0;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    color: whitesmoke;
    top: 0;
    width: 100%;
    background-color: rgb(233, 108, 6, 0.7);
    font-size: 40px;
}

nav li{
    display: inline-block;
    padding-right: 70px;
}

.navbarl{
    grid-column-start: 1;
    grid-column-end: 1;
}

.navbarr{
    grid-column-start: 2;
    grid-column-end: 2;
}